@model InstagramWeb.Models.Schedule


@{
    ViewBag.Title = "AddSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




<div class="content-wrapper">

    <div class="jumbotron">
        @using (Html.BeginForm("AddSchedule", "Home", FormMethod.Post, new
        {

            enctype = "multipart/form-data",

        }))
        {
            <div class="form-group">



                @Html.Label("Title")
                <div class="input-group col-md-8">
                    @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })

                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Enter your User Name" })
                </div>

            </div>

            <div class="form-group">
                @Html.Label("Descriptiopn")
                <div class="input-group col-md-8">
                    @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", placeholder = "Enter your User Name" })

                </div>
            </div>

            <div class="clsbox-1">
                @Html.Label("Upload Imaes")
                <div class="dropzone clsbox" id="mydropzone">

                    @Html.DisplayFor(x => x.scheduleImages)

                </div>
            </div>

            <div class="clsbox-1">
                @Html.Label("Upload Video")
                <div class="dropzone clsbox1" id="mydropzone1">
                    @Html.DisplayFor(x => x.scheduleVideos)

                </div>
            </div>


            <button class="btn btn-success" id="submit-all">
                Submit All Files
            </button>



        }

        </form>




    </div>





</div>



@section scripts{
    <script>
        Dropzone.autoDiscover = false;

        // Dropzone class:
        // var myDropzone = new Dropzone("div#mydropzone", { url: "/file/post" });

        // If you use jQuery, you can use the jQuery plugin Dropzone ships with:
      // $("#mydropzone").dropzone({ url: "@Url.Action("Upload", "Home")" });
      //  $("#mydropzone1").dropzone({ url: "@Url.Action("Upload", "Home")" });




    </script>
}


